@using MvcOnlineTricariOtomasyon.Models.Classes
@model List<Employe>
@{
    ViewBag.Title = "DetailDepartment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.d</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Ad Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.EmployeName @x.EmployeSurname</td>
            <td style="align-content:center"><img src="@x.EmployeImage" alt="Image" class="img-fluid center" style="height: 36px; width: 36px;"></td>
            <td><a href="/Department/DepartmentEmployeSales/@x.EmployeId" class="btn btn-default" style="background-color:antiquewhite">Satışlar</a></td>
        </tr>
    }
</table>