@using MvcOnlineTricariOtomasyon.Models.Classes
@model List<SalesMotion>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}
<br />
<h2>Sipariş Geçmişim</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Tarih</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.Product.ProductName</td>
        <td>@x.Price</td>
        <td>@Convert.ToDateTime(x.Date).ToString("dd/MM/yyyy")</td>
    </tr>
    }
</table>
