@using MvcOnlineTricariOtomasyon.Models.Classes
@using PagedList @*sayfalama işlemi için gerekli*@
@using PagedList.Mvc @*sayfalama işlemi için gerekli*@
@model PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>KATEGORİ</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.CategoryName</td>
            <td><a href="/Category/BringCategory/@k.CategoryId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Category/DeleteCategory/@k.CategoryId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index", new {page}))
<a href="/Category/AddCategory/" class="btn btn-primary">Kategori Ekle</a>
