@using MvcOnlineTricariOtomasyon.Models.Classes
@model List<InvoiceItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AÇIKLAMA</th>
        <th>ADET</th>
        <th>BİRİM FİYAT</th>
        <th>TOPLAM TUTAR</th>
        <th>FATURA ID</th>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>